form{
    display:flex;
    flex-direction: column;
    padding:0 20vw;

    *{
        margin:5px 0;
        border-radius:6px;
    }
    button{
        align-self: center;
        width:20vw;
        background-color: $primary;
        border:none;
        color:white;
        padding:2vh 0;
    }

}