.hero{
    height:100vh;
    background-color: $primary;
    display:flex;
    align-items: center;

    background-image:linear-gradient(rgb(0, 0, 0,0.5),rgba(0, 0, 0, 0.5)),url('../images/pexels-christina-morillo-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title{
    background-color:adjust-color($color: $primary, $alpha: -0.2);
    //NOTA: A propriedade adjust-color só existe no sass enão no css normal.
    text-align:center;
    padding:5% 0;
    width:100%;
    color:white;

   h1{
      font-size: 3em;
      /*Aqui eu sobre-escrevo o valor normalmente setado pelo typography
      pois o Título principal do site precisa de um valor maior do o que ele
      seta para o h1, porém todos os outros valores setados para os títulos
      menores estão bons*/
  }
}